{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href = {% static 'Login/mainstyle.css' %}> 
        {% block style %}{% endblock style %}
        <title>{% block title %}{% endblock title %}</title>
    </head>
    <body>
        <div class="box">
            <table>
                <tr>
                    <th> <img src= {% static 'Login/Images/avatar.png' %} class="avatar"></th>
                    <th><a href="">Priority List</a></th>
                    <th><a href="">Create User</a></th>
                    <th><a href="">Final Faculty List</a></th>
                    <th><a href="">View Timetables</a></th>
                    <th><a href="">Create Timetables</a></th>
                    <th><a href="">Contact</a></th>
                    <th><a href="">Contact us</a></th>
                </tr>
            </table>
        </div>
        <div>
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>