{% extends 'header.html' %}
{% load static %}
{% block title %}Home Page{% endblock title %}

{% block style_sheet %}<link rel="stylesheet" href = {% static 'homepage.css' %}> {% endblock style_sheet %}

{% block style %}
<style>
    body{
        background-image: url({% static 'bg1.jpg'%});
    }
</style>
{% endblock style %}

{% block content %}

<div class='homepage'>
    <p class="S2">Time Table Generator  </p>
    <p class="S2">A semi-automatic system. 
        Reduces the manual work along with effective management of resources 
        and a dynamic environment to create timetable  
    </p><br>
    <p> Created By</p>
    <p> Rajput Akshay-20CS069
        Bhargavi Savani-20CS075
    </p>
</div>

{% endblock content %}