{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href = {% static 'n_header.css' %}>
        {% block style_sheet %}{% endblock style_sheet %}
        {% block style %}{% endblock style %}
        <title>{% block title %}{% endblock title %}</title>
    </head>
    <body>
        <div class="box">
            <table>
                <tr>
                    <th> <img src= {% static 'Login/Images/avatar.png' %} class="avatar"></th>
                    <th><a href="priority">Select Priority</a></th>
                    <th><a href="timetable">view Timetables</a></th>
                    <th><a href="logout">Logout</a></th>
                </tr>
            </table>
        </div>
        <div>
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>