{% extends 'n_header.html' %}
{% load static %}
{% block title %}Home Page{% endblock title %}

{% block style_sheet %}<link rel="stylesheet" href = {% static 'homepage.css' %}> {% endblock style_sheet %}

{% block style %}
<style>
    body{
        background-image: url({% static 'bg1.jpg'%});
    }
</style>
{% endblock style %}

{% block content %}

<div class='homepage'>
    <p class="S2"> Time Table Generator: A semi-automatic system </p><br>
    <p> 
        
    </p>
</div>

{% endblock content %}