{% extends 'n_header.html' %}
{% load static %}
{% block title %}Priority Selection{% endblock title %}

{% block style_sheet %}<link rel="stylesheet" href = {% static 'selection/style.css' %}> {% endblock style_sheet %}

{% block style %}
<style>
    body{
        background-image: url({% static 'selection/Images/bg1.jpeg'%}) ;
    }
</style>
{% endblock style %}   
   
{% block content %}
    <div class="Design">
        <h1>Subject Priority Selection</h1><br>
        <p class="p1">Faculty name:  <input type="text" readonly="readonly" name="Faculty_name_value" value="{{name}}" class="user"></p> 

         
        <form method="post"  name="Priority">
            {% csrf_token %}

            <p class="p1">Faculty code
                <select name="Faculty_code_value" id="Faculty_code_value" required>
                    <option value='' disabled selected>Faculty codes</option>
                    {% for f in fac %}
                        <option value="{{f}}"> {{f}} </option>
                    {% endfor %}
                 </select>
            <p class="p1"> Semester:    
            <select name="sem_value" id="sem_value" required  class = "c1">
                <option value='' disabled selected>Semester</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                </select>
         </p><br>


        <p class="p2">Priority 1
        <select name="subSelect1" id = "subSelect1" required>
            <option value='' disabled selected>Theory subject</option>
            {% for s in subs %}
                <option value="{{s}}"> {{s}} </option>
            {% endfor %}
         </select>

         <select name="pracSelect1" id = "pracSelect1" required>
            <option value='' disabled selected>Practical subject</option>
            {% for s1 in subs %}
                <option value="{{s1}}">{{s1}}</option>
            {% endfor %}
         </select>
        </p>
        <br>

        <p class="p2">Priority 2
        <select name="subSelect2" id="subSelect2">
            <option value="NULL" selected>Theory subject</option>
            {% for s in subs %}
                <option value="{{s}}">{{s}}</option>
            {% endfor %}
         </select>
         <select name="pracSelect2" id = "pracSelect2">
            <option value="NULL" selected>Practical subject</option>
            {% for s in subs %}
                <option value="{{s}}">{{s}}</option>
            {% endfor %}
         </select>
        </p>
         <br>
         <p class="p2">Priority 3
        <select name="subSelect3" id = "subSelect3">
            <option value='NULL' selected>Theory subject</option>
            {% for s in subs %}
                <option value="{{s}}">{{s}}</option>
            {% endfor %}
         </select>
         <select  name="pracSelect3" id = "pracSelect3">
            <option value='NULL' selected>Practical subject</option>
            {% for s in subs %}
                <option value="{{s}}">{{s}}</option>
            {% endfor %}
         </select>
        </p>
        <p><br>    
            <input type="submit" value="Submit">
        </p>
    </div>

</form>

<script>
    {% if str %}
    alert('{{str}}')
    {% endif %}
    
</script>
{% endblock content %}