.homepage{
    background: lightblue;
    color: #000;
    box-sizing: border-box;
    width: 450px;
    margin-top: 300px;
    margin-left: 10px
    /* padding: 10px 55px; */
}

.S2{
    margin-right:0px;
    font-size: 25px;
    font-family: Calibri;
    font-style: italic;
    font-weight: bold;
    color: black;
    text-align: left;
    border: 3px solid green;
}
