.homepage{
    width: 50%;
    background: #fff;
    color: #000;
    margin-top: 2%;
    margin-left: 34%;
    margin-right: 34%;
    position:relative;
    box-sizing: border-box;
    padding: 5px 35px;
}

.S2{
    width: 100px;
    height: 20px;
    margin-right: 25px;
    font-size: 16px;
    font-family: Calibri;
    margin-bottom: 25px;
    margin-top: 100px;
}